* {
  font-weight: 800;
  font-family: cursive;
  outline: none;
}
#todoList label{
  width: 80%;
}
#todoList {
  display: flex;
  flex-direction: column-reverse;
}
#todoList li{
  list-style-type: none;
}
.completed{
  color: #afa7a7;
  text-decoration: black;
  text-decoration: line-through;
}
.uncompleted label{
  color: #afa7a7;
  text-decoration: line-through;
}
#todoList .btn{
  margin-left: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left:0;
}
.nav-button {
  display: inline;
  border: gray 1px solid;
  width: max-content;
  padding: 3px;
  margin: 5px 10%;
  border-radius: 15px;
  user-select: none;
  cursor: pointer;
}
.nav-button:hover {
  outline: skyblue 1px dashed;
}