* {
  font-weight: 800;
  font-family: cursive;
  outline: none;
}
#todoList label{
  width: 80%;
}
#todoList {
  display: flex;
  flex-direction: column-reverse;
}
#todoList li{
  list-style-type: none;
}
.completed{
  color: #afa7a7;
  text-decoration: black;
  text-decoration: line-through;
}
.uncompleted label{
  color: #afa7a7;
  text-decoration: line-through;
}
#todoList .btn{
  margin-left: 10px;
}