/* FONTS */
@font-face {
  font-family: 'IRANSans';
  src: url('../fonts/IRANSansXFaNum-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
};
* {
  font-weight: bolder;
  font-family: "IRANSans";
  outline: none;
}
h1 {margin-top: 30px;}
li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
label {
  width: max-content;
  margin: 3px;
  overflow-wrap: anywhere;
}
#todoList {
  display: flex;
  flex-direction: column-reverse;
}
#todoList li{
  list-style-type: none;
}
.completed{
  color: #afa7a7;
  text-decoration: black;
  text-decoration: line-through;
}
.uncompleted label{
  color: #afa7a7;
  text-decoration: line-through;
}
#todoList .btn{
  margin-left: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left:0;
}
.nav-button:hover {
  outline: skyblue 1px dashed;
}
/* Tools */
.IRFont{
  font-family: "IRANSans";
  font-weight: bold;
}